<div class="app-content">
  <div>
    <div class="app-content-card-list">
      <div class="app-content-header">
        <div>
          <p>Liste des demandes</p>
          <p>Gérer les demandes</p>
        </div>
        <div>
          <button (click)="displayCreationComponent()" ><span>+</span> Ajouter</button>
        </div>
      </div>
            @for (work of worksList(); track work.workContractID) {
            <app-work-card [work]="work" (workToUpdateContractID)="displayUpdateComponent($event)" (workToDeleteContractID)="deleteWork($event)" ></app-work-card>
          }
            @empty {
            <p>Aucune tâche n'est enrégistrée</p>
        }
    </div>
    @if (displayFormToModifyWork) {
    <div class="app-content-work-form">
      <app-work-update [work]="workToModify" (updatedWork)="executeWorkModification($event)" ></app-work-update>
    </div>
    }

    @if (displayFormToAddWork) {
    <div class="app-content-work-form">
       <app-work-create (addingWork)="addingWorkToList($event)" ></app-work-create>
     </div>
    }
  </div>
</div>
